<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1108 {
        padding: var(--sectionPadding);
        position: relative;
    }
    #faq-1108 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 32px - 48px */
        gap: clamp(2rem, 6vw, 3rem);
    }
    #faq-1108 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #faq-1108 .cs-title {
        /* 32px - 48px */
        margin: 0 0 clamp(2rem, 5vw, 3rem);
    }
    #faq-1108 .cs-picture {
        width: 100%;
        /* 360px - 400px */
        height: clamp(22.5rem, 54vw, 45rem);
        display: block;
        position: relative;
    }
    #faq-1108 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #faq-1108 .cs-faq-group {
        width: 100%;
        max-width: 40.625rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.75rem;
    }
    #faq-1108 .cs-faq-item {
        list-style: none;
        width: 100%;
        background-color: #f7f7f7;
        /* clips all corners of the button that overlap the rounded border */
        overflow: hidden;
        transition: border-bottom 0.3s;
    }
    #faq-1108 .cs-faq-item.active .cs-button {
        color:#FE0000;
    }
    #faq-1108 .cs-faq-item.active .cs-button:before {
        background-color: black;
        transform: rotate(315deg);
    }
    #faq-1108 .cs-faq-item.active .cs-button:after {
        background-color: black;
        transform: rotate(-315deg);
    }
    #faq-1108 .cs-faq-item.active .cs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        /* 16px - 24px left & right */
        padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
        opacity: 1;
    }
    #faq-1108 .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        font-family:"Poppins", Arial, sans-serif;
        /* 20px - 24px */
        padding: clamp(1.25rem, 2vw, 1.5rem);
        background-color: #f7f7f7;
        border: none;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #faq-1108 .cs-button:hover {
        cursor: pointer;
    }
    #faq-1108 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 50%;
        right: 1.5rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #faq-1108 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 50%;
        right: 1.3125rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #faq-1108 .cs-button-text {
        width: 80%;
        display: block;
    }
    #faq-1108 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 clamp(1rem, 2vw, 1.5rem);
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1108 .cs-container {
      margin-top: 100px;
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #faq-1108 .cs-content {
        width: 40%;
        text-align: left;
        align-items: flex-start;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #faq-1108 .cs-faq-group {
      margin-top: 50px;}
  

                                
</style>

<section id="faq-1108">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper" style="color:#F60207">FAQ’s</span>
          <h2 class="cs-title" style="color: black;">Frequently Asked Questions</h2>
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/shop2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/shop2.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/shop2.jpg" alt="appliance" width="522" height="400">
          </picture>
      </div>
      <div class="cs-flex-group">
          <ul class="cs-faq-group">
              <!-- Active class added as default -->
              <li class="cs-faq-item active">
                  <button class="cs-button">
                      <span class="cs-button-text">
                        What are your shop hours?

                      </span>
                  </button>
                  <p class="cs-item-p">
                    We are open 12pm-8pm daily with a rotating roster of artists. Want to work with someone specific? Make sure to contact that artist directly to make sure it is within their working days. 

                  </p>
              </li>
              <li class="cs-faq-item">
                  <button class="cs-button">
                      <span class="cs-button-text">
                        Do you take walk-ins?

                      </span>
                  </button>
                  <p class="cs-item-p">
                    Enthusiastically, YES! We love walk-in business! Bring us your ideas or come check out our huge selection of flash available at all times!
                  </p>
              </li>
              <li class="cs-faq-item">
                  <button class="cs-button">
                      <span class="cs-button-text">
                          How do I make an appointment?

                      </span>
                  </button>
                  <p class="cs-item-p">
                    Do you have a specific artist you are wanting to work with? Contact them directly via phone or Instagram! Don’t have an artist in mind? Call the shop for availability on any date you are trying to come in. Deposits are required to secure your appointment and can be taken in person at the shop, or digitally depending on the artist you’re going to be working with. Any further questions about appointment making can be answered by calling the shop at (904)217-4413.
 
                  </p>
              </li>
              <li class="cs-faq-item">
                  <button class="cs-button">
                      <span class="cs-button-text">
                        Do you have a shop minimum?
                      </span>
                  </button>
                  <p class="cs-item-p">
                    Yes our shop minimum is $100. Tattoos start at our minimum and go up from there depending on design, size, and body location. 

                  </p>
              </li>
              <li class="cs-faq-item">
                  <button class="cs-button">
                      <span class="cs-button-text">
                        Do you tattoo minors?
                      </span>
                  </button>
                  <p class="cs-item-p">
                    Yes. The legal age to tattoo without parental consent is 18, HOWEVER, the minimum age with proper parental consent and documentation is 16 years old. There are required steps in order for us to be legally able to tattoo anyone under 18. <a style="font-weight: bold;" target="_blank" href="https://www.floridahealth.gov/environmental-health/tattooing/_documents/Notarized_Minor_Consent.pdf">You MUST print this form</a> and have it filled AND notorized, as well as some form of identification for both the consenting parent AND the minor. This includes state issued ID, military ID, and passport. Finally, the minor MUST be accompanied by the consenting parent listed on the notorized form and the parent must remain present throughout the duration of the tattoo process. 

                  </p>
              </li>

              <li class="cs-faq-item">
                  <button class="cs-button">
                      <span class="cs-button-text">
                        What makes Stay True different from other shops?

                      </span>
                  </button>
                  <p class="cs-item-p">                    Sure we do tattoos. Sure we advise clients on best choices. Sure we work with folks on custom ideas, tailor made to give you the tattoo of your dreams! And sure we have FUN! Did you know that we have a wide array of tattoo carnival games?
                    <BR><BR><B>WE’VE GOT!</B><BR>
                    

    • Plinko!
    <BR>
    • Tattoo Roulette!

    <BR>
    • Darts!
    <BR>
    • 4 Gumball Machines!

    <BR>
    • and more!!!   




  <BR><BR>
Each game designed to get you a killer piece of flash for a fraction of the price! Looking for a deal in your next tattoo? Look no further than our tattoo arcade, located at the one and only Stay True Tattoo in St. Augustine, Florida!

                  </p>
              </li>
          </ul>
      </div>
  </div>
</section>


<script>
  const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
for (const item of faqItems) {
const onClick = () => {
item.classList.toggle('active')
}
item.addEventListener('click', onClick)
}
  
</script>